.content{
    width: 100%;
    height: 100vh;
    min-height: fit-content;
}

.cart-product-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-contaienr {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem 1rem;
    justify-content: center;
}

.cart-card {
    padding: .5rem;
    width: 300px;
    border-radius: 5px;
    border: solid .4px #6a3e2d;
    box-shadow: 0 0 20px 1px #6a3e2d42;
    display: flex;
    gap: 1rem;
    height: 150px;
    transition: .2s;
}

@media (max-width: 576px) {
    .cart-card {
        scale: .9;
    }

}


.cart-card:hover {
    transform: translate(0, -5px);
    transition: .2s;
}

.cart-img-contaniner {
    width: 100px;
    height: 100%;
}

.cart-img-contaniner img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.cart-card-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cart-card-body h3 {
    padding-top: .1rem;
    color: #000;
    font-style: italic;
    font-family: system-ui;
}

.cart-card-body p {
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
}

.cart-card-body p span {
    display: block;
}

.cart-btn-container {
    display: flex;
    justify-content: space-between;
}

.cart-btn-container .quantaty-btn {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cart-btn-container .quantaty-btn button {
    font-size: 18px;
}

.cart-btn-container .cart-btn {
    background-color: #ee0202d8;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    border: solid .5px red;
}

.total-price {
    padding: 2rem 1rem;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    color: #6a3e2d;
}

hr{
    border: #6a3e2d solid 1px;
}

.fav-sec {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem;
    position: relative;
}

.sec-title h2 {
    text-transform: capitalize;
    color: red;
    font-family: Condiment;
    letter-spacing: 1px;
    font-size: 30px;
    position: relative;
}

.sec-title h2::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: red;
    bottom: 0;
    left: 0;
    border-radius: 50%;
}
.sec-title h2:hover::after{
    transform: scaleX(1.3);
}
.slider {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    padding: 1rem;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
}

.fav-cart {
    min-width: 250px;
    height: 240px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: solid #6a3e2d70 .5px;
}

.fav-img-contaienr {
    width: 100%;
    height: 140px;
    background-color: #fff;
    border-radius: 5px;

}

.fav-img-contaienr img {
    width: 100%;
    height: 100%;
}

.fav-card-body {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.scroll-btns {
    position: absolute;
    color: #d40f01;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 3px 1px;
}

.left {
    left: 1.5rem;
}

.right {
    right: 1.5rem;
}

.item-length{
    width: 100%;
    text-align: end;
    color: #000;
    padding: 1rem;
}

