* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

button,
input {
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

.hidden {
    display: none;
    width: 0;
    scale: 0;
    opacity: 0;
    visibility: hidden;
}
