
.search-container {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

@media (max-width: 550px) {
    .search-container {
        flex-direction: column;
    }
}

.filter-search-btn {
    background-color: transparent;
    border: .5px solid #6a3e2d;
    border-radius: 5px;
    color: #6a3e2d;
    text-wrap: nowrap;
    font-size: 16px;
    font-weight: 600;
    min-height: 2.75em;
    padding: .3rem .5em;
    text-decoration: none;
    transition: all .3s;
    backdrop-filter: blur(2px);
    position: relative;
}

.filter-search-btn:disabled {
    pointer-events: none;
}

.filter-search-btn:hover {
    color: #fff;
    background-color: rgb(106, 62, 45);
    box-shadow: rgba(106, 62, 45, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.filter-search-btn:active {
    box-shadow: none;
    transform: translateY(0);
}

.list {
    position: absolute;
    bottom: -6rem;
    padding: .6rem;
    background-color: #fff;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    left: 0;
}

.close .list {
    visibility: hidden;
    opacity: 0;
    transition: all .3;
}

.open .list {
    visibility: visible;
    opacity: 1;
    transition: all .3;
}

.list input {
    padding: 7px 10px;
    border-radius: 5px;
    background-color: #f3eadb;
    color: #6a3e2d;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .3s;
}

.btn-value {
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
}

.close .toTop {
    rotate: 0;
    transition: all .3s;
}

.open .toTop {
    rotate: 180deg;
    transition: all .3s;
}

[name="searchType"]:hover {
    background-color: #6a3e2d;
    color: #fff;
    transition: all .3s;
}

.search-container form {
    max-width: 600px;
    width: 70%;
    box-shadow: 0 0 10px 5px #6a3e2d25;
    display: flex;
    border-radius: 5px;

}

.search-input {
    width: calc(100% - 40px);
    background-color: #fff;
    min-height: 2.75em;
    padding: .8rem .7em;
    border-radius: 5px;
    font-size: 17px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.search-container form button[type="submit"] {
    width: 40px;
    color: #6a3e2d;
    height: inherit;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.products-sec {
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.product-card {
    background-color: #fdfaf5;
    width: 300px;
    height: 400px;
    border-radius: 1rem;
    box-shadow: 0 0 20px 7px #6a3e2d33;
}

.product-card:hover {
    transform: translate(0, -5px);
}

.product-card .img-container {
    width: 100%;
    height: 65%;
    border-radius: 1rem;
}

.product-card .img-container img {
    width: 100%;
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 100%;
}

.card-body {
    padding: .5rem 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    gap: .5rem;
}

.card-body h3,
.card-body p span {
    color: #6a3e2d;
}

.card-body p span {
    font-weight: 600;
}

.card-btns-container {
    display: flex;
    gap: .8rem;
    justify-content: center;
    align-items: center;
}

.add-cart,
.remove-cart {
    padding: .4rem .6rem;
    border-radius: 3px;
    background-color: #6a3e2d;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
}

.remove-cart {
    background-color: #db0101;
}

.product-card,
.product-card:hover,
.product-card .img-container img,
.product-card:hover img,
.card-btns-container button,
.card-btns-container button:active {
    transition: all .4s;
}

.card-btns-container button:active {
    scale: .9;
}

.top-btn {
    position: fixed;
    bottom: .3rem;
    right: 1rem;
    width: 50px;
    height: 50px;
}

.arrow {
    scale: 2.5;
    color: #6a3e2d;
}

aside {
    position: absolute;
    right: .6rem;
    top: 4rem;
    width: 200px;
    height: fit-content;
    max-height: calc(100vh - 5rem);
    box-shadow: 0 0 20px #6a3e2d79;
    overflow: hidden;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
}

.cart-product-container,
aside {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background: #f3eadb;
    align-items: center;
}

.cart-product-container{
    padding: .5rem;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: auto;
    scrollbar-color: #6a3e2d transparent;
}

.item-container {
    box-shadow: 0 0 10px #6a3e2d57;
    padding: 1rem .5rem;
    color: #6a3e2d;
    width: 100%;
    border-radius: 1rem;
    display: flex;
    gap: .7rem;
    flex-direction: column;
    align-items: center;
}

.info-contanier,
.quantaty-container {
    display: flex;
    justify-content: space-between;
    gap: .8rem;
    align-items: center;
}

.info-contanier h3 {
    text-wrap: wrap;
    text-align: center;
    max-width: 70%;
}

.info-contanier p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 25%;
}

.quantaty-container button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 18px;
    color: #6a3e2d;
    border: solid #6a3e2d 1px;
}

.view-all {
    width: 100%;
    border-top: solid #6a3e2d 1px;
    color: #6a3e2d;
    text-align: center;
}

.view-all a {
    padding: .5rem;
    color: #fff;
    background-color: #6a3e2d;
    font-size: 15px;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}