:root {
    --bg-color: #fff;
    --tx-color: #202020;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

button,
input {
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

.hidden {
    display: none;
}

.form-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

@media (max-width: 975px) {
    .form-section {
        width: 100%;
    }

    .sing-layout {
        display: none;
        scale: 0;
        width: 0;
    }
}

body {
    background-color: var(--bg-color);
    color: var(--tx-color);
    overflow-x: hidden;
    background: #fffdf1;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100vh;
}

form {
    width: fit-content;
    background-color: #f5f5f5;
    border-radius: 20px;
    z-index: 9;
    padding: 1rem;
    box-shadow: 0 0 10px 12px #f5f5f5;
}

.headder {
    gap: .7rem;
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.headder h1 {
    font-size: 28px;
    color: goldenrod;
    font-family: Condiment;
}

.headder span {
    width: 25px;
    height: 25px;
    border: solid gold 2px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px gold;
}

.headder span::after {
    content: ' ';
    border-radius: 50%;
    width: 25px;
    height: 25px;
    scale: .5;
    background-color: goldenrod;
    position: absolute;
    animation: sc infinite 1s;
    filter: blur(2px);
}

@keyframes sc {
    0% {
        scale: .4;
    }

    50% {
        scale: .6;
    }

    100% {
        scale: .4;
    }
}

.body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}

.row {
    display: flex;
    max-width: 350px;
    gap: 10px;
    padding-bottom: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-label {
    color: goldenrod;
    position: absolute;
    font-size: 13px;
    display: inline;
    pointer-events: none;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    transition: .3s ease;
}

.form-input:focus+.form-label,
.form-input:not(:placeholder-shown)+.form-label {
    top: 0;
    transition: .3s ease;
    padding: 0 .1rem;
    background: linear-gradient(#f5f5f5 50%, #fff 0%);
}

.form-input {
    width: 350px;
    height: 50px;
    border-radius: 1.5rem;
    padding: 1rem;
    font-size: 16px;
    color: #000;
    border: solid .4px gold;
    background-color: #Fff;
}

.row .form-input {
    width: calc(50% - 10px);
    min-width: 170px;
}

.pass-visable {
    position: absolute;
    background-color: transparent;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    padding-top: 3px;
}

.body span {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    font-size: 13px;

}

.body span a {
    color: #006eff;
    text-decoration: none;
    font-style: none;
}

.footer {
    display: grid;
    width: 100%;
    place-items: center;
    gap: 1rem;
}

.submit-contaienr {
    padding-top: 1rem;
}

.sub {
    width: 250px;
    height: 50px;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 1.5rem;
    color: var(--bg-color);
    border: solid gold .5px;
    color: goldenrod;
    transition: .3s ease;
}


.sub:hover {
    border: 0;
    transition: .3s ease;
    color: #fff;
    background: linear-gradient(45deg, gold, #f8d16e, gold);

}

.footer .sub:active {
    scale: .9;
    transition: .3s ease;
}

.footer .prov {
    height: 45px;
    border-radius: 5px;
    background-color: #Fff;
    color: goldenrod;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 1rem 2rem;
    gap: 5px;
}

.footer .prov:active {
    scale: .9;
}

.footer .prov img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: contain;
}

.footer span {
    font-size: 14px;
    font-weight: 500;
}

.footer span a {
    text-decoration: none;
    color: goldenrod;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

.footer .line {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-family: Condiment;
    align-items: center;
    color: goldenrod;
}

.footer .line hr {
    width: 50%;
    height: 1px;
    background-color: gold;
}